<html>
    <head>
        <title>Kelime-Sayı Oyunu </title>
        <link href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap" rel="stylesheet">
    </head>
    <body style= "background: white">
    <center><div style="font-family: 'Fauna One', serif;font-size: 50px; color: #222222;margin-top: 5%"> Harfleri </div></center>
    <center>
        <div style="font-family: 'Fauna One', serif;font-size: 50px; color: #222222;margin-top: 8%">
            <a href="kelimeoyunu-chosen" style="color: #222222">Ben seçecegim </a>
            <a href="kelimeoyunu-random" style="margin-left: 8%;color: #222222"> Rasgele üret </a>
        </div>
    </body>